<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">



    <bean id="myMethodBeforeAdvice" class="com.hawcore.framework.multiplyds.aop.MyMethodBeforeAdvice"/>
    <bean id="myCustomPointcut" class="com.hawcore.framework.multiplyds.aop.MyCustomPointcut"/>

<!--    <aop:config>-->
<!--        <aop:pointcut id="customPointcut" expression="321"/>-->
<!--        <aop:advisor advice-ref="myMethodBeforeAdvice" pointcut-ref="customPointcut"/>-->
<!--    </aop:config>-->
</beans>